#chat {
    /* Fills the entire screen
     * Splits into 2 columns (60px for bar, rest for chat)
     * Prevent each column's height from overflowing */
    
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#chat .accountsBar {
    background-color: #2E2A29;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

#chat .accountsBar .accountInfo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 20px;
}

.profilePictureContainer {
    /* width the same as height */
    width: calc(50px - 16px);
    height: calc(50px - 16px);
    border-radius: 50%;
    background-color: #A0815C;
    border: 1px solid #2E2A29;
    margin-right: 10px;
}

img.profilePicture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#username {
    font-weight: bold;
}

#chat .chatContainer {
    display: flex;
    flex-direction: row;
    height: calc(100% - 60px);
    flex: 1;
    
}

.pane {
    max-height: 100vh;
}

#onlineUsers {
    background-color: #3E3A37;
    overflow-y: scroll;
    width: 25%;
}

#onlineUsers .onlineUserLabel {
    padding: 10px 20px;
    font-size: 12px;
    color: #e0cfba9b;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

#onlineUsers .onlineUserLabel .icon {
    width: 18px;
    height: 18px;
}

#onlineUsersList {
    height: calc(100% - 40px);
}

#onlineUsersList .onlineUser {
    padding: 10px 20px;
    font-size: 16px;
    color: #e0cfba;
    font-weight: 400;
    cursor: pointer;
    transition: 0.2s ease;
}

#onlineUsersList .onlineUser.active {
    background-color: #4E4946;
    cursor: default;
}

#onlineUsersList .onlineUser.active .userDetails {
    font-weight: 400;
    margin-left: 12px;
}

#onlineUsersList .onlineUser .userDetails {
    transition: 0.2s ease;
    font-weight: 200;
    display: flex;
    justify-content: left;
    align-items: center;
}

#onlineUsersList .onlineUser:nth-child(2n - 1) {
    background-color: #393635;
}

#onlineUsersList .onlineUser:not(.active):hover {
    background-color: #443e3b;
}

#onlineUsersList .onlineUser:not(.active):hover .userDetails {
    margin-left: 6px;
    font-weight: 400;
}

.overlay {
    position: relative;
}

.overlay::before {
    background: linear-gradient(0deg, rgba(74,69,66,0) 90%, rgba(74,69,66,1) 100%);
    content: "\00a0";
    position: absolute;
    height: 100%;
    width: 100%;
}

#conversation {
    overflow-y: auto;
    width: 75%;
    height: 100%;
    max-height: 100%;
}

#conversation .convoLabel {
    width: 100%;
    height: 55px;
    margin: 0;
    box-sizing: border-box;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 28px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.141);
    background-color: rgba(0, 0, 0, 0.2);
}

#currentUser {
    font-weight: 600;
}

#conversation .chatLog {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
}

#conversation .chatLog .messages {
    flex: 10;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 25px;
    box-sizing: border-box;
    background-color: #4A4542;
    transition: 0.2s ease;
}

#conversation .chatLog .messages .message {
    display: inline-flex;
    margin: 5px 0;
    border-radius: 24px;
    width: fit-content;
    max-width: 45%;
    transition: 0.2s ease;
}

#conversation .chatLog .messages .message .messageContent {
    padding: 10px 20px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    width: auto;
    transition: 0.2s ease;
}

#conversation .chatLog .messages .message.incoming {
    align-self: flex-start;
}

#conversation .chatLog .messages .message.incoming:not(.deleted) {
    background-color: #5E5652;
}

#conversation .chatLog .messages .message.outgoing {
    align-self: flex-end;
}

#conversation .chatLog .messages .message.outgoing:not(.deleted) {
    background-color: #836F48;
}

#conversation .chatLog .messageBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    flex: 1;
}

#conversation .chatLog .messages .message.deleted .messageContent::before {
    content: "Deleted message";
}

#conversation .chatLog .messages .message.deleted .messageContent {
    background-color: transparent;
    border: 2px solid #834848;
    border-radius: 24px;
    color: #C07A7A;
}

#conversation .chatLog .messageBox input {
    flex: 8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #5E5652;
    font-size: 16px;
}

#conversation .chatLog .messageBox button {
    flex: 1;
    margin-left: 10px;
    background-color: #6557ac;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#conversation .chatLog .messageBox button:hover {
    background-color: #7a6cc0;
}

#conversation .chatLog .messageBox button:active {
    background-color: #4d3f8a;
}

#conversation .chatLog .messageBox button:focus {
    outline: none;
}

#conversation .chatLog .messageBox button:disabled {
    background-color: #4d3f8a;
}

#conversation .chatLog .messageBox button svg {
    width: 20px;
    height: 20px;
}