#connection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4a4542;
}

#connection input, button {
    margin: 20px 0;
}

#connection input {
    width: 400px;
}

#connection button {
    width: 445px;
}

#connectionError {
    color: #FF5E5E;
    margin: 5px 0;
    text-align: left;
    width: 445px;
    transition: 0.2s ease;
}

#connectionError.hidden {
    opacity: 0;
}