#transitioner {
    position: fixed;
    width: 250%;
    height: 1000%;
    z-index: 1000;
    background: rgb(62,58,55);
    background: linear-gradient(90deg, rgba(62,58,55,0) 0%, rgba(62,58,55,1) 10%, rgba(62,58,55,1) 50%, rgba(62,58,55,1) 90%, rgba(62,58,55,0) 100%);
    top: -50%;
    right: 100%;
}

/* slide in transitioner */
@keyframes transition {
    0% {
        right: 200%;
        transform: rotate(-15deg);
    }
    100% {
        right: -200%;
        transform: rotate(15deg);
    }
}

/* play the animation */
#transitioner.transition {
    animation: transition 1.5s ease-in-out;
}